/* From Uiverse.io by biswacpcode */ 
.nav_bar {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  
}

.nav_bar::before {
  margin-left: auto;
}

.nav_bar::after, .nav_bar::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.nav_bar:hover::after, .nav_bar:hover::before {
  width: 100%;
}

