@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@layer base{
  * {
    scrollbar-width: none;            /* Firefox */
  }

  *::-webkit-scrollbar {
    display: none;                    /* Chrome, Safari, Edge */
  }
}



.orbitron-400 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.orbitron-500 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.orbitron-600 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.orbitron-700 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.orbitron-800 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.orbitron-900 {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

body{
  background-color: rgb(0, 0, 0);
}




body {
    cursor: url('/cursor.png'), auto;
}

a {
  cursor: url('/point.png'), pointer; 
}

button {
  cursor: url('/point.png'), pointer; 
}

